/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020. dec. 16., 11:47:29
    Author     : User
*/

body {
    background-color: black;
}

p {
    color: white;
}

h1 {color: white;
}

li {
    color: white;
}

div.kepkeret {
    width: 304px;
    text-align: center;
    float: right;
    font-size: 75%;
    padding: 0px 0px 0px;
    margin-left: 20px;
    background-color: white;
    border-radius: 25px;  
    border: white 2px solid;
    font-style: italic;
}

img {
    border-radius: 25px;
    border: white 2px solid;
}
a{color:white;
    display: inline-block;
    width: 200px;
    height: 50px;
    background-image:url('../Képek/Button.png');
    background-repeat: no-repeat;
    padding-top: 7px;
    padding-left: 13px;
    text-decoration: none;
text-align: center;
font-size: 37px;
}
a:hover{color: burlywood;}