table {
    border: black 2px solid;
    border-radius: 5px;
}

table>tbody>tr>td {
    border: #000000 0.5px solid;
    min-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    
}
*{
    background-color: black;
    
}
p{color: white;}
h1,h2{color: white;}
ul{color: white;}
table{color: white;}